{extends file="./link.tpl"}
{block name=head}
<script src="js/jquery.min.js" ></script>
{/block}
{block name=body}
<br/>
<br/>
<br/>
<br/>
<center>
	<form name="drawForm"action="drawWinner.php" method="post">
    <table border="1"  cellpadding="5" cellspacing="0">
      <tr>
        <td><input type="hidden" name="drawId" value="{$nextDrawArray.drawId}">{$nextDrawArray.drawId}</td>
        <td>
          Card No :<input type="text" name="cardNo" id="cardNo">
        </td>
        <td>{$nextDrawArray.drawDate}</td>
        <td>{$nextDrawArray.prize}</td>
      </tr>
      <tr>
         <td colspan="4" align="center"><input type="submit" name="subBtn" id="subBtn"></td>
      </tr>
    </table>
  </form>
</center>
{/block}