{extends file="./link.tpl"}
{block name="head"}
<link rel="stylesheet" href="css/fin3.css" />
<style type="text/css">
</style>
{/block}
{block name=body}	
<form name="expenceForm" id="expenceForm" method="post">
  <center>
  <table align="center" cellpadding="0" cellspacing="0">		
    
    <h1 align="center">Expence Entry</h1>
    <tr>
    	<th align="left">Expence Detail :</th>
    	<td><input type="text" required=required  name="expence_detail" autofocus id="expence_detail" placeholder="Expence Detail"></td>
    </tr>
    <tr>
    	<th align="left">Expence Amount :</th>
    	<td><input type="text" name="expence_amount" placeholder="Expence Amount" id="expence_amount"></td>
    </tr>
    <tr>
    	<th align="left">Expence Date :</th>
    	<td>{html_select_date prefix='curDate' field_order="DmY" month_format="%m" start_year='-5' end_year='+5' time=$today}</td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <input type="reset" name="reset" id="reset" value="Reset">
        <input type="submit" name="sub" id="sub" value="SAVE">
      </td>       
    </tr>
  </table>
</center>
</form>
{/block}