{extends file="./link.tpl"}
{block name="head"}

{/block}
{block name="body"}
<br/><br/><br/><br/>
<center>
  <table border="1" cellpadding="2" cellspacing="0">
    <tr>
      <th>Party Name</th>
      <th>Interest</th>
      <th>Last Date To Pay</th>
    </tr>
  </table>
</center>
{/block}