{extends file="./link.tpl"}
{block name="head"}
  <script src="js/jquery.min.js" ></script>
  <script type="text/javascript">
    // start set value of loanDetailRowtext box
    function setLoanDetailRow(obj2, loanDetailRow1)
    {
      var loanDetailRow2 = obj2.value;
      var loanDetailRow  = loanDetailRow1 * loanDetailRow2 ;
      $(obj2).next('input:text').val(loanDetailRow);	
//      if((obj2) != "" && (obj2) != 0)
//      {
//        $('.myChk').attr('checked','checked');
//      }
    }
    
    // end set value of installmentReceived text box
  </script>
{/block}

{block name=body}
<br/>
<form name="installmentForm" method="post">
  <table align="center" cellpadding="5" cellspacing="5" border="1">
  	<h1 align="center">Loan Detail</h1>
  	<tr>
  		<th>
			Loan Id:<input type="text" value="{if isset($loanId) && $loanId!= 0}{$loanId}{/if}" name="loanId" id="loanId">
			<input type="submit" name="loanId_search" id="go" value="Search">
		</th>
  		<th>
			Party Name : {if isset($loanDetailRow[0]['partyName'])} {$loanDetailRow[0]['partyName']} {/if}
  		</th>
		</tr>
		<!--<tr>
		  <th colspan=2>Receive Payment For : 
			{html_select_date prefix='curDate' field_order="dmY" month_format="%B" display_days = false start_year='-5' end_year='+5' time=$curDate}&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="submit" name="Receive" id="go" value="Receive">
		  </th>
		</tr>-->
	  </table>
</form>
<form name="installmentForm1" method="post">

  <center>
    <table border="1" cellspacing="0" cellpadding="3">
      <tr>
        <th align="center">Installment Month</th>
        <th align="center">Received</th>
        <th align="center">Received Date</th>
      </tr>
      {section name=m loop=$loanDetailRow}
      <tr>
        <td align="center">{$loanDetailRow[m]['display_text']}  </td>
        <td align="center">
			{if $loanDetailRow[m]['recevied'] eq '1'}
			<img src="images/1461618634_tick.png" width="20"/>
			{else}
			<img src="images/1461618650_cross.png" width="20"/>
			{/if}
          <!--<input type="checkbox" class="myChk" id="{$loanDetailRow[m]['id']}" name="installmentReceived[{$loanDetailRow[m]['id']}]" {if $loanDetailRow[m]['recevied'] eq '1'} checked {/if} value="1" />-->
         
		</td>
		<td align="center">
			{$loanDetailRow[m]['recivedDate']} 
          <!--<input type="checkbox" class="myChk" id="{$loanDetailRow[m]['id']}" name="installmentReceived[{$loanDetailRow[m]['id']}]" {if $loanDetailRow[m]['recevied'] eq '1'} checked {/if} value="1" />-->
         
		</td>
      </tr>
      {/section}
      <!--<tr>
    	  <td colspan="5" align="center"><input type="submit" name="sub" id="sub" value="SAVE"></td>
    	</tr>-->
    </table>
  </center>
</form>
{/block}
